@model List<PlantNests.Models.Inventory>
@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid page-body-wrapper">
    <div class="main-panel" style="width:100%">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    Inventory List
                </h3>
                <form>
                    <div class="row">
                        <div class="">
                            <input name="term" class="form-control" placeholder="search bar" />
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary mt-1 ml-2">search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                    <table id="sortable-table-1" class="table">
                                        <thead>
                                            <tr>
                                                <th class="sortStyle">Email</th>
                                                <th class="sortStyle">ProductName</th>
                                                <th class="sortStyle">OrderNumber</th>
                                                <th class="sortStyle">Currentqty</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model)
                                            {
                                                <tr>



                                                    <td>@user.Product.productName</td>
                                                    <td>@user.Customer.Email</td>
                                                    <td>@user.Order.ordernumber</td>

                                                    <td>@user.Inqty</td>

                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

